@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 88% 5%; /* #050017 */
    --foreground: 210 20% 98%; /* #F8FAFC */
    --card: 259 100% 6%; /* #0B001F */
    --card-foreground: 210 20% 98%;
    --popover: 259 100% 6%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 82% 62%; /* #7C3AED */
    --primary-foreground: 0 0% 100%;
    --secondary: 326 77% 48%; /* #C026D3 */
    --secondary-foreground: 0 0% 100%;
    --muted: 210 22% 49%;
    --muted-foreground: 215 16% 80%;
    --accent: 204 88% 48%; /* #0EA5E9 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 55% 16%; /* #261341 */
    --input: 257 55% 16%;
    --ring: 262 82% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 257 88% 5%;
    --foreground: 210 20% 98%;
    --card: 259 100% 6%;
    --card-foreground: 210 20% 98%;
    --popover: 259 100% 6%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 82% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 326 77% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 22% 49%;
    --muted-foreground: 215 16% 80%;
    --accent: 204 88% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 55% 16%;
    --input: 257 55% 16%;
    --ring: 262 82% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
